# misc
\.idea
github/*
__pycache__
python
*.pickle

# docs
docs/build/*
github/*
__pycache__
python

# docs
docs/build/*

# build artifacts
build/CMakeFiles
cmake-build-debug
cmake-build-release
build-backend
dist

# spack
._spack-view
.spack-env
spack-view
spack.lock

# tmp geospatial suffixes
*.aux.xml

# examples
examples/gaussian_hill/gaussian_hill
examples/ideal_ridge_low_tol/ideal_ridge_low_tol
examples/CAGEO_figure/CAGEO_figure
examples/flat_stream/flat_stream
examples/granger_high_veg_weight/granger_high_veg_weight
examples/flow_accumulation_granger/flow_accumulation_granger
examples/stream_dem/stream_dem
examples/uniform/uniform
examples/flat/flat
examples/flow_accumulation/flow_accumulation
examples/lloyd/lloyd
examples/ideal_ridge/ideal_ridge
examples/dem_smoothing/dem_smoothing
examples/data/data
examples/granger_veg/granger_veg
examples/granger_low_veg_weight/granger_low_veg_weight
examples/granger/granger
examples/flat_veg/flat_veg

