/CMakeFiles/*
\.idea/
cmake-build-debug/
cmake-build-release/
docs/build/*
github/*
venv-deploy/*
dist/*
.DS_Store
/build-*
venv-build
.Rhistory
example-images-png
images-png
.spack*
spack-build*
cmake_install.cmake
CMakeCache.txt
Makefile
*.param
*.ic
*.mesh
MANIFEST
*mesher.egg*
*.geojson
*.pyc
*.neigh
*.node
*.ele
*.poly
*.ipynb
*.vtu
*.xml
*.ovr
*.tfw
/._venv-mesher/*
/venv-mesher/*
/spack-deploy/*
