.gitignore
CMakeLists.txt
CMakeLists_external.txt.in
LICENSE
README.md
_config.yml
cgal.4.11.patch
conanfile.py
docs/make.bat
docs/source/algorithm.rst
docs/source/build.rst
docs/source/conf.py
docs/source/configuration.rst
docs/source/images/dem_no_smoothing.png
docs/source/images/dem_smoothing_1.png
docs/source/images/dem_smoothing_2.png
docs/source/images/gauss.gif
docs/source/images/lloyd.png
docs/source/images/mesher_tolerances.png
docs/source/images/mesher_veg.png
docs/source/images/no_lloyd.png
docs/source/index.rst
example_mesher_config.py
examples/CAGEO_figure/CAGEO_figure.py
examples/README.md
examples/data/README.rd
examples/data/Stream.dbf
examples/data/Stream.prj
examples/data/Stream.shp
examples/data/Stream.shx
examples/data/flow.py
examples/data/flow_granger.py
examples/data/makedata.py
examples/dem_smoothing/dem_smoothing.py
examples/flat/flat.py
examples/flat_stream/flat_stream.py
examples/flat_veg/flat_veg.py
examples/flow_accumulation/flow_accumulation.py
examples/gaussian_hill/gaussian_hill.py
examples/granger_high_veg_weight/granger_high_veg_weight.py
examples/granger_low_veg_weight/granger_low_veg_weight.py
examples/ideal_ridge/ideal_ridge.py
examples/ideal_ridge_low_tol/ideal_ridge_low_tol.py
examples/images/dem_no_smoothing.png
examples/images/dem_smoothing_1.png
examples/images/dem_smoothing_2.png
examples/images/flat.png
examples/images/flat_stream.png
examples/images/flat_veg.png
examples/images/flow_accumulation.png
examples/images/gaussian_hill.png
examples/images/granger_high_veg_weight.png
examples/images/granger_low_veg_weight.png
examples/images/ideal_ridge.png
examples/images/ideal_ridge_low_tol.png
examples/images/lloyd.png
examples/images/stream_dem.png
examples/images/uniform.png
examples/lloyd/lloyd.py
examples/runall.sh
examples/stream_dem/stream_dem.py
examples/uniform/uniform.py
images/gauss.gif
images/granger.gif
images/mesh.png
images/tolerances.png
mesher.py
meshstats.py
permutation_tools.py
pyproject.toml
setup.py
src/mesh.h
src/mesh_2_criteria_area.h
src/mesher.cpp
src/raster.cpp
src/raster.h
src/triangle.cpp
src/triangle.h
src/version.h.in
tools/merge_mesh.py
tools/mesh2vtu.py
tools/write_WN_config.py
