graft src
graft tools
graft pysrc

include .gitignore
include CMakeLists.txt
include CMake/Findmetis.cmake
include CMakeLists_external.txt.in
include LICENSE
include README.md
include conanfile.py
include meshgen.py
include pyproject.toml

